* {
  box-sizing: border-box;
}
body {
  background-color: #f8f9fa !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* start header section */
header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../imgs/hero-bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
nav {
  z-index: 999999999999999999999 !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
nav ul li a {
  font-size: 18px !important;
  font-weight: 500 !important;
  position: relative;
  transition: all 0.5s ease-in-out;
}
nav ul li a::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 17px;
  bottom: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
nav ul li a:hover::before {
  opacity: 1;
  width: 50%;
}
.home-content h1 {
  font-size: 80px;
  letter-spacing: 1.5px;
}
.home-content p {
  font-size: 30px;
  font-weight: 500;
}
.home-content p::after {
  content: "|";
  animation-name: typing;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes typing {
  0% {
    content: "v|";
  }
  5% {
    content: "ve|";
  }
  10% {
    content: "vel|";
  }
  15% {
    content: "velo|";
  }
  20% {
    content: "velop|";
  }
  25% {
    content: "velope|";
  }
  30% {
    content: "veloper|";
  }
  35% {
    content: "velope|";
  }
  40% {
    content: "velop|";
  }
  45% {
    content: "velo|";
  }
  50% {
    content: "vel|";
  }
  55% {
    content: "ve|";
  }
  60% {
    content: "v|";
  }
  65% {
    content: "s|";
  }
  70% {
    content: "si|";
  }
  75% {
    content: "sig|";
  }
  80% {
    content: "sign|";
  }
  85% {
    content: "signe|";
  }
  90% {
    content: "signer|";
  }
  92% {
    content: "signe|";
  }
  94% {
    content: "sign|";
  }
  96% {
    content: "sig|";
  }
  98% {
    content: "si|";
  }
  99% {
    content: "s|";
  }
  100% {
    content: "s|";
  }
}

/* end header section */

/* start about section */

.sec1 ul {
  list-style-type: none;
}
.sec1 ul li {
  padding: 6px 0;
}

.sec1 ul li span {
  color: rgba(214, 207, 207, 0.4);
}

.about-header h2 {
  font-weight: 600;
  font-size: 35px;
}
.about-header {
  position: relative;
}

.about-header h2::before {
  content: "";
  width: 15%;
  height: 3px;
  background-color: #0078ff;
  position: absolute;
  bottom: 0;
}
/* <!-- end about section --> */

/* satrt services section */
.services-content h2 {
  font-weight: 700;
  font-size: 45px;
}
.line-under {
  text-align: center;
  background-color: #0078ff;
  width: 3%;
  height: 5px;
  margin: auto;
}
.fa-solid,
.fas {
  font-size: 45px;
}
.icon {
  width: 90px;
  height: 90px;
  /* background-color: #0078ff; */
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #0078ff;
  padding: 22px 0;
  transition: all 1s ease-in-out;
}
.item {
  margin-top: 30px;
  padding: 25px 0px;
}
.item:hover .box-icon .icon {
  background-color: #0078ff;
  color: #fff;
  box-shadow: 0 0 0 10px rgba(220, 228, 237, 0.4);
}
.box-icon {
  padding: 10px 0px;
}
/* end services section */

/* satrt works section */

.works {
  padding: 50px 0px;
  background-image: linear-gradient(
      to top,
      rgba(0, 120, 255, 0.5),
      rgba(0, 120, 255, 0.5)
    ),
    url(../imgs/counters-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
/* end works section */

/* start portflio section */
.portoflio-content h2 {
  font-weight: 700;
  font-size: 45px;
}
.cot p span {
  color: #0078ff;
}
.box-header img {
  transition: all 0.5s ease-in-out;
}
.portfolio-box {
  backface-visibility: hidden;
}
.portfolio-box:hover .box-header img {
  transform: scale(1.08);
}
/* end portflio section */

/* start slider section */
.carousel .slide {
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.carousel {
  position: static !important;
}
.carousel-indicators {
  position: relative !important;
  bottom: -50px !important;
}
.slider-section {
  background-image: linear-gradient(
      to top,
      rgba(0, 120, 255, 0.5),
      rgba(0, 120, 255, 0.5)
    ),
    url(../imgs/overlay-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0px;
}
/* end  slider section */

/* start card section */
.footer-img {
  width: 10px !important;
  height: 10px !important;
}
.footer-img small {
  transition: all 0.5s;
  cursor: pointer;
}
.footer-img small:hover {
  color: #0078ff;
}
.w-11 {
  width: 11%;
}
.card-title {
  transition: all 0.5s;
  cursor: pointer;
}
.card-title:hover {
  color: #0078ff;
}
.header-title {
  position: absolute;
  width: 25%;
  text-align: center;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  background-color: #0078ff;
  padding: 3px 0px;
}
/* end card section */

/* start contact section */
form .btn {
  transition: all 0.5s;
}
form .btn:hover {
  box-shadow: 0 0 0 10px rgba(220, 228, 237, 0.4);
}
.information li {
  list-style-type: none;
}
.information li {
  padding: 6px 0px;
}
.social {
  display: flex;
  padding-top: 16px;
}
.icons {
  display: flex;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid #0078ff;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  transition: all 0.5s;
}
.icons:hover {
  box-shadow: 0 0 0 10px rgba(220, 228, 237, 0.4);
  color: #fff;
  background-color: #0078ff;
  border: none;
}
.contact {
  background-image: linear-gradient(
      to top,
      rgba(0, 120, 255, 0.5),
      rgba(0, 120, 255, 0.5)
    ),
    url(../imgs/overlay-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  /* padding: 80px 0px; */
}
/* end contact section */
/* start footer */
footer {
  background-color: #0078ff;
}
/* end footer */
